@import url(//fonts.googleapis.com/css?family=Raleway:400,600,700);
@import url(//fonts.googleapis.com/css?family=Hind:400,600,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

/* =Common styles BEGIN */
*,
*:before,
*:after {
  box-sizing: border-box;
}
::selection {
  background: #19c2c9;
  color: #fff;
}

::-moz-selection {
  background: #19c2c9;
  color: #fff;
}
.mean-container a.meanmenu-reveal span {
  height: 1.5px;
  margin-top: 7px;
}
#page-wrapper {
  display: flex;
  flex-direction: column;
  height: inherit;
}
#page {
  position: relative;
  flex: 1 0 auto;
}
#header .section {
  max-width: 1200px;
}
.contextual-links-wrapper a {
  transition: none;
}
html,
body {
  height: auto;
}
html {
  background: #fff;
}
body {
  min-width: 320px;
  font-family: "Hind", sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}
img,
input,
textarea {
  max-width: 100%;
}
textarea {
  min-height: 110px;
}
img {
  max-height: 100%;
}
.block-colorized-gmap img {
  max-height: none;
  max-width: none;
}
p:last-child {
  margin-bottom: 0;
}
p {
  font-size: 15px;
  text-decoration: none;
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  color: #74797b;
  line-height: 25px;
}
.profile .user-picture {
  float: none;
}
h1,
h2,
h3,
h1 a,
.h1 a,
h2 a,
h3 a {
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
.h1 a,
h2 a,
h3 a,
h4 a,
.views-field-title,
.views-field-title a {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  line-height: 70px;
  color: #2d2d2d;
  margin: 0;
}
h1 a:hover,
.h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.views-field-title a:hover,
.node__title a:hover {
  text-decoration: none;
}
h1 {
  font-size: 56px;
  letter-spacing: 2.8px;
  word-wrap: break-word;
}
h2 {
  font-size: 45px;
  letter-spacing: 1.13px;
}
h3 {
  font-size: 30px;
  letter-spacing: 1.5px;
  background: url('../images/line.png') center bottom no-repeat;
  background-size: 80px;
  padding-bottom: 15px;
  text-align: center;
  margin-bottom: 35px;
}
h3.left {
  background-position-x: left;
  text-align: left;
}
h4 {
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 1px;
}
h5 {
  font-size: 14px;
  font-weight: 400;
}
.node__title,
.node__title a,
.layout-main-wrapper .page-title {
  font-family: 'Hind';
  font-size: 32px;
  margin: 0;
  text-transform: none;
  margin-bottom: 15px;
  margin-top: 5px;
  line-height: 40px;
}
.node__title {
  float: left;
  width: 100%;
}
.node--type-portfolio .node__title,
.layout-main-wrapper .page-title {
  width: 40%;
  float: left;
  letter-spacing: 1.13px;
}
.title,
.node__content section h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: none;
  line-height: normal;
}
.italic {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 15px;
  color: #74797b;
  line-height: normal;
  margin: 20px 0;
}
a {
  text-decoration: none;
  color: #19c2c9;
}
a:hover {
  text-decoration: none;
}
pre.code,
code {
  color: #333;
  font-family: 'Courier New', monospace;
}
pre.code {
  background-color: #e8e8e8;
  padding: 10px;
  border-left: 10px solid #1ec97b;
}
mark {
  display: inline-block;
  padding: 1px;
  background: #19c2c9;
  color: #fff;
}
blockquote,
blockquote p {
  font-family: 'Hind';
  font-size: 18px;
  color: #333;
  line-height: 28px;
  letter-spacing: -0.36px;
  margin: 20px 0;
  display: block;
  position: relative;
  font-style: normal;
}
blockquote:before {
  content: '';
  height: 100%;
  width: 4px;
  display: inline-block;
  position: absolute;
  background: #19c2c9;
  left: 0;
}
.node-type-blog #breadcrumb {
  display: none;
}
.block-system-breadcrumb-block {
  font-family: 'Hind', sans-serif;
  font-size: 15px;
  letter-spacing: 0.75px;
  color: #fff;
  text-align: center;
}
.block-system-breadcrumb-block li {
  display: inline-block;
  color: #fff;
  font-weight: 700;
}
.block-system-breadcrumb-block li a {
  color: #fff;
  font-weight: 700;
}
.block-system-breadcrumb-block li:not(:last-child):after {
  content: '/';
  width: 10px;
  display: inline-block;
  font-weight: 700;
}
blockquote {
  position: relative;
  margin: 20px 0;
  padding-left: 30px;
  min-height: 40px;
}
blockquote footer {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.13px;
  text-transform: uppercase;
}
.profession {
  font-weight: normal;
  text-transform: none;
  font-size: 14px;
}
.messages__wrapper {
  position: relative;
}
div.messages {
  font-size: 15px;
  text-decoration: none;
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  color: #74797b;
  line-height: 25px;
  padding: 40px 10px 10px 50px;
  border-left-width: 1px;
  position: relative;
}
.messages h2 {
  width: auto;
  height: auto;
  font-size: 14px;
  margin: 0;
  line-height: 30px;
  text-transform: none;
  clip: auto;
  top: 9px;
}
.messages + .close {
  position: absolute;
  right: 30px;
  top: 40px;
}
.messages + .close:hover {
  cursor: pointer;
}
div.messages--error {
  background: #fcedef url('../images/alerts/error.png') 17px 17px no-repeat;
  border-color: #ffd9de;
  box-shadow: none;
}
.messages--error h2 {
  color: #ff9999;
}
.messages--error + .close {
  content: url('../images/alerts/4.png');
}
div.messages--warning {
  background: #fefaec url('../images/alerts/warning.png') 17px 17px no-repeat;
  border-color: #f7eac7;
  box-shadow: none;
}
.messages--warning h2 {
  color: #ffcc66;
}
.messages--warning + .close {
  content: url('../images/alerts/3.png');
}
div.messages--status {
  background: #effbee url('../images/alerts/status.png') 17px 17px no-repeat;
  border-color: #cbeec8;
  box-shadow: none;
}
.messages--status h2 {
  color: #99cc99;
}
.messages--status + .close {
  content: url('../images/alerts/2.png');
}
.messages--info {
  background: #f0faff url('../images/alerts/info.png') 17px 17px no-repeat;
  border-color: #ceedfc;
  box-shadow: none;
}
.messages--info h2 {
  color: #77b3f0;
}
.messages--info + .close {
  content: url('../images/alerts/1.png');
}
#content ul,
#content ul li,
#columns ul li.leaf,
#columns ul li.collapsed,
#block-system-user-menu .menu,
#block-system-user-menu .menu li {
  padding: 0;
}
#content ol {
  padding-left: 25px;
}
#content ol li,
#columns ol li.leaf,
#columns ol li.collapsed {
  padding-left: 5px;
}
#content ul,
#content li,
.column li {
  list-style: square;
  list-style-position: inside;
  color: #19c2c9;
}
#content .contextual-links li {
  list-style: none;
}
#content ul li span,
.column li span {
  line-height: 26px;
  font-size: 14px;
  color: #74797b;
}
#columns ul,
#columns ol,
#block-system-user-menu .menu {
  margin: 15px 0;
}
.menu li,
.item-list ul li,
.links li,
.menu li.leaf,
.menu li.collapsed {
  padding-left: 0;
  margin-left: 0;
}
#columns .menu li:before,
#columns .item-list li:before,
#columns .links li:before,
#columns .contextual-links-wrapper li:before,
#columns .tabs li:before,
#page .field-name-field-portfolio-terms ul li:before {
  content: none;
}
#page .contextual-links,
#page .contextual-links li {
  margin: 0;
}
#page .contextual-links {
  padding: 0.25em 0;
}
#page .contextual-links li {
  padding: 0;
}
.links a:hover,
.node-author a:hover {
  text-decoration: underline;
}
#block-brainstorm-theme-branding,
.region-inner,
body .view-content,
body .block-title,
.block-our-amazing-team-block-1 .block-title,
.view-header,
.view-main-slider .views-field-nothing,
#columns,
#menu-bar nav,
#primary-menu-bar nav,
#secondary-menu-bar,
#header .section {
  margin-right: auto;
  margin-left: auto;
}
#block-brainstorm-theme-branding {
  width: 30%;
  float: left;
  min-width: 180px;
}
#block-brainstorm-theme-branding {
  max-width: 200px;
}
#page-wrapper:not(.front) .layout-main {
  max-width: 1200px;
  padding: 0;
  margin: 65px auto 90px auto;
}
#page-wrapper.sidebar .layout-main {
  display: flex;
}
#page-wrapper.sidebar #content {
  max-width: 64%;
  display:inline-block;
}
#page-wrapper .page-blog .layout-main,
#page-wrapper .page-portfolio .layout-main,
#page-wrapper .page-contact .layout-main {
  max-width: none;
  margin: 0;
}
body.page-portfolio #columns {
  max-width: none;
}
body .view-content .view-content {
  padding-left: 0;
  padding-right: 0;
}
#main-content {
  margin: 0;
}
#page.container {
  max-width: none;
}
.page-blog #page.container {
  background-color: #f9f9f9;
}
.front .block-title,
.our-skills h2,
.about-us h2,
.featured-top .page-title,
.block-views-blockour-amazing-team-block-1 h2 {
  font-size: 30px;
  text-decoration: none;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  background: url('../images/line.png') center bottom no-repeat;
  background-size: 80px;
  padding-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.page-comment .page-title {
  margin-bottom: 15px;
}
.front .block-title {
  margin-top: 65px;
  margin-bottom: 20px;
}
.featured-top .page-title {
  font-size: 30px;
  text-transform: none;
  background-size: 80px;
  padding-bottom: 15px;
  color: #fff;
}
.page-title-44 .page-title,
.page-blog .page-title,
.page-portfolio .page-title,
.page-contact .page-title,
.page-title-43 .page-title,
.page-info .page-title {
  font-size: 50px;
  background-size: 130px;
  text-transform: uppercase;
  padding-bottom: 30px;
}
#page-wrapper:not(.front) .featured-top {
  padding-top: 105px;
  padding-bottom: 70px;
  height: 243px;
  background-color: #000;
}
#page-wrapper:not(.front).page-title-43 .featured-top {
  height: 280px;
  padding-top: 120px;
}
#page-wrapper.page-title-44 #page .featured-top,
#page-wrapper:not(.front) .page-blog .featured-top,
#page-wrapper:not(.front) .page-portfolio .featured-top,
#page-wrapper:not(.front) .page-contact .featured-top,
#page-wrapper:not(.front) .page-info .featured-top {
  height: 389px;
  padding-top: 150px;
}
#page-wrapper:not(.front) .featured-top {
  background: #000 url('../images/pic_title/base.jpg') 50% no-repeat;
  background-size: cover;
}
.page-title-44 .featured-top {
  background: #000 url('../images/pic_title/about-us.jpg') 50% no-repeat;
}
#page-wrapper:not(.front) .page-portfolio .featured-top,
#page-wrapper:not(.front).node-type-portfolio .featured-top {
  background: #000 url('../images/pic_title/portfolio.jpg') 50% no-repeat;
}
#page-wrapper:not(.front) .page-blog .featured-top,
#page-wrapper:not(.front).node-type-blog .featured-top {
  background: #000 url('../images/pic_title/blog.jpg') 50% no-repeat;
}
#page-wrapper:not(.front) .page-contact .featured-top {
  background: #000 url('../images/pic_title/contacts.jpg') 50% no-repeat;
}
.view-header {
  color: #606060;
  text-align: center;
  margin-bottom: 40px;
}
.views-field-title a,
.section-tags .node__title a {
  color: #333;
  text-decoration: none;
}
.section-tags {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
}
#page-wrapper table p {
  margin: 0;
}
#page-wrapper table {
  width: 100%;
  border: none;
  max-width: 1920px;
  margin: 0 auto;
}
.html #page-wrapper table th {
  font-weight: 400;
  color: #333;
}
th,
td {
  padding: 10px;
}
th {
  padding-top: 15px;
  padding-bottom: 15px;
}
tr,
tr.even,
tr.odd {
  padding: 0;
  border: none;
}
tr.even {
  background-color: #fff;
}
tr.odd {
  background-color: #e8e8e8;
}
table.ver-1 td,
table.ver-1 th {
  border: none;
}
table.ver-1 tr {
  border-bottom: 1px solid #c6c6c6;
}
span.form-required {
  display: none;
}
.container-inline .form-item {
  display: inline-block;
}
input:not([type="submit"]),
input:not([type="button"]),
textarea {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #e3e3e3;
}
input[type="submit"],
input[type="button"] {
  width: auto;
}
input:not([type="submit"]):focus,
textarea:focus {
  border: 1px solid #19c2c9 !important;
  outline-color: transparent;
  outline-style: none;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #ff3334;
}
textarea {
  resize: vertical;
}
.form-item .description {
  font-size: 13px;
  color: #19c4cb;
}
.form-item .description.error {
  background: none;
  color: #ff3334;
}
label {
  font-weight: 400;
  margin-bottom: 3px;
  display: block;
}
#content .item-list ul.pager-load-more li {
  width: 200px;
}
.pager {
  text-align: left;
}
.pager li {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 0;
}
.pager li.pager__item {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 10px;
  width: 45px;
  height: 45px;
  background-color: transparent;
}
.pager li:last-of-type {
  margin-right: 0;
}
.pager a,
#page .pager .is-active,
#page .pager .pager__item--ellipsis {
  display: inline-block;
  color: #74797b;
  border: 1px solid #a9a9a9;
  text-decoration: none;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 15px;
  line-height: 45px;
  background-color: transparent;
}

@media screen and (max-width: 425px){
  .pager a,
  #page .pager .is-active,
  #page .pager .pager__item--ellipsis {
    width: 30px;
    height: 30px;
    line-height: 31px;
  }
  .pager li.pager__item {
    width: auto;
    height: auto;
  }
}

#page .pager .pager__item--ellipsis {
  border: none;
}
.pager .pager__item.is-active a,
.pager a:hover {
  background: #19c2c9;
  border-color: #19c2c9;
  color: #fff;
}
.pager .is-active {
  cursor: default;
  font-weight: 400;
}
#page .item-list.item-list-pager li {
  background-color: transparent;
}
.region-secondary-content {
  background: url(images/bg-page-title.png) no-repeat 50% 50%;
  background-size: cover;
}
/* Loading */

#load {
  animation: loading 3s linear infinite;
}
#loading-inner {
  animation: loading-circle 2s linear infinite;
  -webkit-animation: loading-circle 2s linear infinite;
  -moz-animation: loading-circle 2s linear infinite;
  stroke: #19c2c9;
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  fill: transparent;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0
  }
  100% {
    stroke-dashoffset: -600;
  }
}
@-webkit-keyframes loading-circle {
  0% {
    stroke-dashoffset: 0
  }
  100% {
    stroke-dashoffset: -600;
  }
}
@-moz-keyframes loading-circle {
  0% {
    stroke-dashoffset: 0
  }
  100% {
    stroke-dashoffset: -600;
  }
}
/* Info items */

.views-field-created,
.views-field-cid,
.data,
div.comment,
.datetime,
.author-datetime,
.comment__author,
.comment__time {
  display: inline-block;
}
.views-field-created:before,
.view-blog .views-field-cid:before,
.data:before,
div.comment:before {
  font-size: 18px;
  line-height: 1;
  font-family: 'FontAwesome';
  position: absolute;
}
.node__meta {
  margin-top: 20px;
}
.view-blog .views-field-cid {
  margin-left: 10px;
}
.view-blog .views-field-cid:before,
div.comment:before {
  content: '\f0e5';
}
.view-blog .views-field-uid:before,
.author-datetime:before {
  content: url('../images/Admin.png');
  vertical-align: -webkit-baseline-middle;
  margin-right: 3px;
}
.view-blog .views-field-uid span:before {
  content: 'by ';
}
.view-blog .views-field-uid:after,
.view-blog .views-field-created:after,
.author-datetime:after {
  content: '/';
  padding-left: 10px;
}
.datetime:after,
div.comment:after {
  content: '/';
  padding-left: 10px;
}
.views-field-cid span,
div.comment span {
  padding-left: 25px;
}
.page-blog .view-blog li .views-field .views-field-uid,
.page-blog .view-blog li .views-field.views-field-comment-count,
.node__meta div:not(.datetime),
.view-blog .views-field-uid {
  margin-left: 10px;
}
#columns .submitted ul li {
  margin-left: 0;
}
.views-field-created,
#content ul li .views-field-created span,
.views-field-uid,
#content ul li .views-field-uid span,
.views-field-cid,
#content ul li .views-field-cid span,
.data,
div.datetime,
div.author-datetime,
div.author-datetime a,
div.comment,
.addtoany_list.a2a_kit_size_32,
.views-field-comment-count {
  font-size: 13px;
  line-height: 20px;
  color: #999;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.author-datetime a:hover {
  color: #19c2c9;
}
/* Buttons */

.btn,
input[type="submit"],
input[type="button"],
.view-dignities .view-footer a,
.view-our-amazing-team .views-field-nothing a,
.button,
.about-us a {
  display: inline-block;
  text-transform: uppercase;
  padding: 18px 40px;
  background: #19c2c9;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.13px;
  border-radius: 0;
  height: 55px;
}
.btn:hover,
.view-dignities .view-footer a:hover,
.view-our-amazing-team .views-field-nothing a:hover,
.about-us p a:hover {
  text-decoration: none;
}
.btn + .btn,
input[type="submit"] + input[type="submit"],
input[type="button"] + input[type="button"],
.view-dignities .view-footer a + a,
.view-our-amazing-team .views-field-nothing a + a {
  margin-left: 20px;
}
.btn:hover,
input[type="submit"]:hover,
.view-dignities .view-footer a:hover,
.view-our-amazing-team .views-field-nothing a:hover,
.about-us p a:hover,
.front .view-blog table .views-field-view-node a:hover,
.company-name .second-part a:hover {
  background-color: #333;
}
.input input {
  margin-bottom: 20px;
}
input:active {
  border: none;
}
.input input:nth-child(4),
input[type="button"] {
  background: #333;
}
input[type="button"]:hover {
  background: #19c2c9;
}
#block-brainstorm-theme-main-menu select,
#menu-bar select {
  display: none;
}
#block-brainstorm-theme-main-menu,
#block-brainstorm-theme-footer {
  overflow: hidden;
  width: auto;
  float: right;
  height: 80px;
}
#secondary-menu-bar {
  display: block;
}
.block-local-tasks-block ul {
  border: 0;
  text-transform: uppercase;
  font-size: 18px;
  white-space: normal;
  padding: 0;
  margin: 15px 0;
}
.block-local-tasks-block ul li {
  display: inline;
}
.block-local-tasks-block ul li a {
  padding: 4px 9px;
  color: #333;
  background: none;
  border: none;
  margin: 0;
}
.block-local-tasks-block ul li.active a,
.block-local-tasks-block ul li.active a:hover {
  background: #19c2c9;
  color: #fff;
  border: none;
  padding: 4px 9px;
}
.block-local-tasks-block ul li a:hover {
  border: 2px solid #19c2c9;
  background: none;
  padding: 2px 7px;
  color: #333;
}
.node-readmore a,
.comment-comments a,
.comment-add a {
  position: relative;
}
.comment .username {
  display: block;
}
.node-readmore a,
.comment-comments a,
.comment-add a {
  color: #a6a6a6;
}
.node-readmore a:hover,
.comment-comments a:hover,
.comment-add a:hover {
  color: #19c2c9;
  text-decoration: none;
}
.node-readmore a:before,
.comment-comments a:before,
.comment-add a:before {
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
}
.node-readmore a {
  padding-left: 13px;
}
.node-readmore a:before {
  content: '\f101';
}
.comment-comments a {
  padding-left: 19px;
}
.comment-comments a:before {
  content: '\f0e5';
}
.comment-add a {
  padding-left: 17px;
}
.comment-add a:before {
  content: '\f055';
}
/* Share buttons */

.a2a_kit a {
  margin-bottom: 8px;
}
.owl-theme .owl-controls .owl-buttons div:hover {
  opacity: 1;
}
/* =Common styles END */
/* Drupal standart blocks BEGIN */

#columns {
  padding: 40px 0;
}
body #columns {
  padding: 0;
}
#name-and-slogan #site-name {
  color: #fff;
}
#site-name a {
  color: #fff;
}
#block-system-user-menu {
  float: right;
}
.feed-icon {
  display: inline-block;
  margin: 15px 5px;
}
.block-search .form-item {
  margin-bottom: 10px;
}
.node-article {
  margin-bottom: 20px;
}
#block-system-powered-by {
  padding: 30px 0;
}
#comments,
.comment-form {
  margin-top: 15px;
  padding-top: 15px;
}
.comment-form + .comment-form {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
#comments .form-text,
#comments .form-textarea {
  width: 100%;
}
#block-brainstorm-theme-main-menu ul ul {
  display: none;
}
#block-brainstorm-theme-main-menu > ul,
#block-brainstorm-theme-footer > ul {
  display: flex;
  margin: 0;
  justify-content: flex-end;
  flex-wrap: wrap;
}
#block-brainstorm-theme-main-menu > ul li,
#block-brainstorm-theme-footer > ul li {
  float: left;
}
#block-brainstorm-theme-main-menu > ul > li > a,
#block-brainstorm-theme-footer >ul a {
  max-height: 80px;
  text-transform: uppercase;
  padding: 0px 20px 0px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
#block-brainstorm-theme-main-menu > ul > li:nth-child(1) > a:hover,
#block-brainstorm-theme-main-menu > ul > li:nth-child(1).active > a {
  background: url('../images/menu_underline/Home.png') 50% 100% no-repeat;
  transition: none;
}
#block-brainstorm-theme-main-menu > ul > li:nth-child(2) > a:hover,
#block-brainstorm-theme-main-menu > ul > li:nth-child(2).active > a {
  background: url('../images/menu_underline/AboutUs.png') 50% 100% no-repeat;
  transition: none;
}
#block-brainstorm-theme-main-menu > ul > li:nth-child(3) > a:hover,
#block-brainstorm-theme-main-menu > ul > li:nth-child(3).active > a {
  background: url('../images/menu_underline/Portfolio.png') 50% 100% no-repeat;
  transition: none;
}
#block-brainstorm-theme-main-menu > ul > li:nth-child(4) > a:hover,
#block-brainstorm-theme-main-menu > ul > li:nth-child(4).active > a {
  background: url('../images/menu_underline/Blog.png') 50% 100% no-repeat;
  transition: none;
}
#block-brainstorm-theme-main-menu > ul > li:nth-child(5) > a:hover,
#block-brainstorm-theme-main-menu > ul > li:nth-child(5).active > a {
  background: url('../images/menu_underline/Contacts.png') 50% 100% no-repeat;
  transition: none;
}
#block-brainstorm-theme-main-menu > ul > li:nth-child(6) > a:hover,
#block-brainstorm-theme-main-menu > ul > li:nth-child(6).active > a {
  background: url('../images/menu_underline/Typography.png') 50% 100% no-repeat;
  transition: none;
}
#block-brainstorm-theme-main-menu > ul li a:hover,
#block-brainstorm-theme-footer > ul li a:hover {
  color: #19c2c9;
}
/* Drupal standart blocks END */
/* =Header BEGIN */

#header,
#block-brainstorm-theme-main-menu {
  position: relative;
  z-index: 100;
}
#header {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  right: 0;
  left: 0;
  max-height: 80px;
}
#block-brainstorm-theme-branding a,
#name-and-slogan {
  clear: none;
  width: auto;
  padding-top: 25px;
  margin: 0 auto;
  padding-bottom: 10px;
}
#block-brainstorm-theme-branding a {
  margin-left: 15px;
  display: block;
}
#block-brainstorm-theme-branding img {
  vertical-align: middle;
}
#block-brainstorm-theme-branding img {
  max-width: 230px;
  max-height: 60px;
}
#block-brainstorm-theme-main-menu > ul a,
#block-brainstorm-theme-footer > ul a {
  line-height: 80px;
  font-size: 13px;
  text-decoration: none;
  display: block;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: 700;
}
#superfish-1 #menu-468-1.sf-depth-1 > a,
#menu .menu-mlid-468 > a {
  cursor: default;
  pointer-events: none;
}
#superfish-1 #menu-468-1.sf-depth-1 > a:hover,
#superfish-1 #menu-468-1.active-trail.sf-depth-1 > a,
#menu .menu-mlid-468 > a:hover,
#menu .menu-mlid-468 > a.active {
  color: #a6a6a6;
}
#header .btn-mobile-menu {
  clear: none;
  width: auto;
  float: right;
  width: 50px;
  height: 35px;
  background: url(images/icon-mobile-menu.png) no-repeat 50% 50%;
  font-size: 0;
  cursor: pointer;
  margin-top: 22px;
}
#toggle-icon {
  margin-top: 5px;
  color: #333;
}
#header #toggle-icon:hover {
  color: #3f9ae8;
}
/* =Header END */
/* =Footer BEGIN */

footer.site-footer {
  flex: 0 0 auto;
  background-color: #333;
  color: #fff;
  max-height: 80px;
}
.site-footer__top {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #333;
}
.site-footer__top > div {
  display: flex;
  justify-content: end;
}
.block-title {
  margin-bottom: 15px;
}
.site-footer__bottom {
  background-color: #202123;
}
#block-socialicons {
  text-align: center;
}
#block-socialicons .field a {
  font-size: 32px;
  line-height: 90px;
  text-align: center;
  color: #84888c;
  width: 85px;
  height: 90px;
  display: inline-block;
}
.fa-facebook-official:hover:before,
.fa-facebook:hover:before {
  color: #2d5c99;
}
.fa-github:hover:before {
  color: #333;
}
.fa-twitter:hover:before {
  color: #2faeee;
}
.fa-instagram:hover:before {
  color: #2e7396;
}
.fa-behance:hover:before {
  color: #00acdc;
}
.fa-linkedin-square:hover:before {
  color: #0089bc;
}
.fa-dribbble:hover:before {
  color: #ff8caf;
}
/* =Footer END */
/* =Page About us BEGIN*/

.two-list ul {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

#about-us-page .first-part {
  padding-right: 15px;
}
#about-us-page .second-part {
  padding-left: 15px;
}
#about-us-page li {
  list-style-image: url('../images/check.png');
  list-style-position: inside;
  line-height: 30px;
}
#block-companyname {
  float: left;
  width: 100%;
}
.company-name {
  height: 500px;
  background: #f9f9f9;
}
.company-name .first-part,
.company-name .second-part {
  height: 500px;
}
.company-name .second-part p {
  max-width: 500px;
  margin: 0 auto;
}
.company-name .second-part a {
  margin-top: 45px;
}
.block-views-blockour-amazing-team-block-1 {
  margin: 70px auto;
  float: left;
  width: 100%;
}
.block-views-blockour-amazing-team-block-1 .views-view-grid {
  max-width: 1200px;
  margin: 0 auto;
}
.block-views-blockour-amazing-team-block-1 .block-title {
  margin-bottom: 40px;
}
.block-views-blockour-amazing-team-block-1 .views-field-title,
.block-views-blockour-amazing-team-block-1 .views-field-title a {
  line-height: 40px;
  margin-top: 20px;
}
.block-views-blockour-amazing-team-block-1 .social-team {
  background: #19c2c9;
  padding: 10px 19px;
  margin: 0;
  width: 280px;
  height: 50px;
}
.social-team li {
  display: inline-block;
  font-size: 27px;
  padding: 0 18px;
}
.block-views-blockour-amazing-team-block-1 .social-team li a {
  color: #fff;
}
.block-views-blockour-amazing-team-block-1 .views-col {
  position: relative;
  padding: 10px;
}
.block-views-blockour-amazing-team-block-1 .views-field-field-social {
  position: absolute;
  bottom: 98px;
  overflow: hidden;
}
.block-views-blockour-amazing-team-block-1 .views-field-field-photo-team img {
  width: 100%;
  height: 100%;
  max-height: 280px;
  max-width: 280px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.block-views-blockour-amazing-team-block-1 .views-field-field-photo-team {
  overflow: hidden;
}
.block-views-blockour-amazing-team-block-1 .views-field-field-social .field-content {
  position: relative;
  top: 51px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.block-views-blockour-amazing-team-block-1 .views-col:hover .views-field-field-social .field-content {
  opacity: 1;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
}
.block-views-blockour-amazing-team-block-1 .views-col:hover img {
  opacity: 1;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}
/* =Page About us END*/
/* =Block Our recent works BEGIN*/

.views-exposed-widgets {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 0 0 20px 0;
}
.view-header,
.views-exposed-form,
.views-exposed-form fieldset .fieldset-wrapper > div {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
}
.views-exposed-form {
  margin-bottom: 30px;
}
.view-portfolio {
  margin: 65px 0 90px 0;
}
.view-portfolio .views-exposed-form {
  margin-bottom: 50px;
}
.view-portfolio .js-form-item-nid label {
  color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.view-portfolio .js-form-item-nid {
  position: relative;
}
.view-portfolio .js-form-item-nid input {
  width: 35px;
  opacity: 0;
}
.view-portfolio fieldset:nth-child(1) {
  display: inline;
  height: 25px;
  vertical-align: top;
}
.view-portfolio fieldset:nth-child(2) {
  display: inline-block;
  border-left: 1px solid #494949;
  padding-left: 20px;
  margin-left: 10px;
  padding: 15px;
  height: 45px;
}
.view-portfolio .js-form-item-nid {
  width: 35px;
  height: 20px;
  margin: 0;
  display: inline-block;
}
.view-portfolio .js-form-item-nid:first-child label {
  background: url('../images/column/3_column_default.png') 50% no-repeat;
  width: 35px;
  height: 20px;
}
.view-portfolio .js-form-item-nid:first-child input:checked + label {
  background: url('../images/column/3_column_active.png') 50% no-repeat;
}
.view-portfolio .js-form-item-nid:last-child label {
  background: url('../images/column/2_column_default.png') 50% no-repeat;
  width: 35px;
  height: 20px;
}
.view-portfolio .js-form-item-nid:last-child input:checked + label {
  background: url('../images/column/2_column_active.png') 50% no-repeat;
}
.block-views-blockportfolio-block-1 .js-form-item-tid-raw,
.view-portfolio .js-form-item-tid-raw {
  text-align: center;
  position: relative;
  display: inline-block;
}
.block-views-blockportfolio-block-1 .js-form-item-tid-raw input,
.view-portfolio .js-form-item-tid-raw input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
}
.block-views-blockportfolio-block-1 .js-form-item-tid-raw label,
.view-portfolio .js-form-item-tid-raw label {
  font-weight: 500;
  font-family: 'Hind', sans-serif;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  padding: 4px 9px;
  border: 2px solid #fff;
  width: auto;
  display: block;
}
.block-views-blockportfolio-block-1 .js-form-item-tid-raw input:checked + label,
.view-portfolio .js-form-item-tid-raw input:checked + label {
  color: #fff;
  background: #19c2c9;
  border: 2px solid #19c2c9;
}
.block-views-blockportfolio-block-1 input:hover + label,
.view-portfolio .js-form-item-tid-raw input:hover + label {
  border: 2px solid #19c2c9;
}
.view-portfolio .item-list img,
.block-views-blockportfolio-block-1 img {
  width: 101%;
  height: auto;
  object-fit: cover;
}
.view-portfolio .item-list .views-field-title,
.view-portfolio .item-list .views-field-field-tags-portfolio,
.view-portfolio .item-list .views-field-field-portfolio-image a:after,
.block-views-blockportfolio-block-1 .views-field-title,
.block-views-blockportfolio-block-1 .views-field-field-tags-portfolio,
.block-views-blockportfolio-block-1 .views-field-field-portfolio-image a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  display: none;
}
.view-portfolio .item-list a,
.block-views-blockportfolio-block-1 .views-field a {
  color: #fff;
  text-decoration: none;
  line-height: 1px;
  display: block;
  font-size: 16px;
}
.view-portfolio .item-list .views-field-field-portfolio-image a:after,
.block-views-blockportfolio-block-1 .views-field-field-portfolio-image a:after {
  content: '';
  background: url('../images/plus/plus@3x.png') 50% 50% no-repeat, url('../images/hover-_effect.png') no-repeat;
  background-size: 51px, cover;
  -moz-background-size: 51px, cover;
  /* Firefox 3.6+ */
  -webkit-background-size: 51px, cover;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 51px, cover;
  /* Opera 9.6+ */
  background-size: 51px, cover;
  height: 100%;
  width: 100%;
}
.views-field-field-tags-portfolio .field-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.view-portfolio .item-list li,
.block-views-blockportfolio-block-1 .views-col {
  position: relative;
}
.view-portfolio .item-list li:hover .views-field-field-portfolio-image a:after,
.block-views-blockportfolio-block-1 .views-col:hover .views-field-field-portfolio-image a:after {
  display: block;
  animation: views-field-field-background-image_gwd-keyframes 0.5s linear 0s 1 normal forwards;
  -webkit-animation: views-field-field-background-image_gwd-keyframes 0.5s linear 0s 1 normal forwards;
  -moz-animation: views-field-field-background-image_gwd-keyframes 0.5s linear 0s 1 normal forwards;
}
.view-portfolio .item-list li:hover .views-field-field-tags-portfolio,
.block-views-blockportfolio-block-1 .views-col:hover .views-field-field-tags-portfolio {
  display: block;
  opacity: 0;
  padding-left: 25px;
  padding-top: 25px;
  animation: view-work-gallery 0.5s linear 0.1s 1 normal forwards;
  -webkit-animation: view-work-gallery 0.5s linear 0.1s 1 normal forwards;
  -moz-animation: view-work-gallery 0.5s linear 0.1s 1 normal forwards;
}
.view-portfolio .item-list li:hover .views-field-title,
.block-views-blockportfolio-block-1 .views-col:hover .views-field-title {
  display: block;
  animation: view-work-gallery 0.5s linear 0s 1 normal forwards;
  -webkit-animation: view-work-gallery 0.5s linear 0s 1 normal forwards;
  -moz-animation: view-work-gallery 0.5s linear 0s 1 normal forwards;
}
.view-portfolio .views-field-field-tags-portfolio div,
.block-views-blockportfolio-block-1 .views-field-field-tags-portfolio div {
  z-index: 5;
}
.view-portfolio .views-field-title a,
.block-views-blockportfolio-block-1 .views-field-title a {
  line-height: normal;
}
.view-portfolio .views-field-title,
.block-views-blockportfolio-block-1 .views-field-title {
  z-index: 6;
  padding-left: 25px;
  text-transform: uppercase;
  line-height: normal;
  font-size: 16px;
}
@keyframes view-work-gallery {
  0% {
    bottom: 0;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    bottom: 35px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-webkit-keyframes view-work-gallery {
  0% {
    bottom: 0;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  100% {
    bottom: 35px;
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes view-work-gallery {
  0% {
    bottom: 0;
    opacity: 0;
    -moz-animation-timing-function: linear;
  }
  100% {
    bottom: 35px;
    opacity: 1;
    -moz-animation-timing-function: linear;
  }
}
/* =Block Our recent works END*/
/* =Blocks About us BEGIN*/

.first-part {
  float: left;
}
.second-part {
  float: right;
}
.first-part,
.second-part {
  width: 50%;
  height: 100%;
}
.about-us .first-part,
.our-skills .second-part,
.company-name .second-part {
  padding: 85px;
  text-align: center;
}
.about-us,
.our-skills {
  height: 500px;
  text-align: center;
}
.about-us .second-part {
  background: url('../images/main_1.jpg') 20% 100% no-repeat;
  background-size: cover;
}
.our-skills .first-part,
.company-name .first-part {
  background: url('../images/03_skills_pic.jpg') center no-repeat;
  background-size: cover;
}
.text-who {
  max-width: 490px;
  margin: 0 auto 42px;
}
.our-skills .team {
  display: block;
  width: 420px;
  margin: 110px auto;
  border: 3px solid #fff;
  height: 305px;
  padding: 70px;
}
.our-skills .first-part p {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 4px;
  line-height: 80px;
}
#content .skills-bar-container {
  float: left;
  clear: right;
  width: 100%;
  margin: 0;
}
.skills-bar-container p {
  float: left;
  margin: 5px;
  text-align: left;
  display: block;
}
.skills-bar-container .percent {
  float: right;
  padding-top: 5px;
  opacity: 0;
  -webkit-transition: opacity 1s ease 4s;
  -moz-transition: opacity 1s ease 4s;
  -o-transition: opacity 1s ease 4s;
  transition: opacity 1s ease 4s;
}
.skills-bar-container .percent,
.skills-bar-container label,
.our-team .views-field-field-profession-team a {
  font-weight: 500;
  font-family: 'Hind', sans-serif;
  font-size: 15px;
  color: #74797b;
}
.skills-bar-container li {
  background: #e9e5e2;
  height: 6px;
}
#content .skills-bar-container li {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  list-style: none;
}
#content .skills-bar-container p {
  margin: 0;
}
.progressbar {
  background-color: #19c2c9;
  background-image: -webkit-linear-gradient(left, #19c2c9 0%, #99ffcc 100%);
  background-image: -moz-linear-gradient(left, #19c2c9 0%, #99ffcc 100%);
  background-image: -o-linear-gradient(left, #19c2c9 0%, #99ffcc 100%);
  background-image: linear-gradient(to right, #19c2c9 0%, #99ffcc 100%);
  height: 100%;
  width: 0%;
  -webkit-transition: width 4.50s ease !important;
  -moz-transition: width 4.50s ease !important;
  -o-transition: width 4.50s ease !important;
  transition: width 4.50s ease !important;
}
/* =Blocks About us END*/
/* =Block Our core features */

.block-views-blockour-core-features-block-1 {
  max-width: 1200px;
  margin: 0 auto;
}
.block-views-blockour-core-features-block-1 .views-row {
  display: flex;
  flex-wrap: wrap;
}
.block-views-blockour-core-features-block-1 .views-col {
  border: none;
  padding: 10px;
}
.block-views-blockour-core-features-block-1 .views-field-field-icon-features {
  width: 30px;
  float: left;
}
.block-views-blockour-core-features-block-1 .views-field-title,
.block-views-blockour-core-features-block-1 .views-field-body {
  display: table-row;
}
.block-views-blockour-core-features-block-1 .views-field-title .field-content,
.block-views-blockour-core-features-block-1 .views-field-body .field-content {
  margin-left: 15px;
  display: block;
}
.block-views-blockour-core-features-block-1 .views-field-body .field-content {
  margin-top: 8px;
}
.block-views-blockour-core-features-block-1 .views-field-title,
.block-views-blockour-core-features-block-1 .views-field-title a,
.our-team .views-field-title a {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #333;
  letter-spacing: 1px;
  text-transform: none;
  line-height: normal;
}
/* =Main slider BEGIN */

.slick--view--main-slider .slick-slide .slide__caption {
  padding: 0;
  position: relative;
}
.slick--view--main-slider .slick-initialized .slick-slide {
  height: 600px;
}
.slick--view--main-slider .slick-slide img:first-child {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.slick--view--main-slider .slick-arrow:before,
.node-portfolio .owl-controls .owl-buttons div {
  top: 60%;
  z-index: 50;
  margin: 0;
  display: block;
  width: 50px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.85);
  background-repeat: no-repeat;
  border-radius: 0;
  transform: none;
  -o-transform: none;
  -ms-transform: none;
  -moz-transform: none;
  -webkit-transform: none;
}
.slick--view--main-slider > .slick__arrow {
  position: absolute;
  top: 50%;
  width: 100%;
}
.slick--view--main-slider .slick__arrow  button {
  padding: 0;
  margin: 0;
  border: none;
  display: inline-block !important;
}
.slick--view--main-slider .slick-arrow:before {
  content: '';
}
.slick--view--main-slider .slick-prev::before,
.node-portfolio .owl-controls .owl-buttons .owl-prev {
  background-image: url(images/main-slider-prev.png);
  background-position: 40% 50%;
  transform: none;
  -o-transform: none;
  -ms-transform: none;
  -moz-transform: none;
  -webkit-transform: none;
}
.slick--view--main-slider .slick-next {
  right: 8px;
  position: absolute;
}
.slick--view--main-slider .slick-next::before,
.node-portfolio .owl-controls .owl-buttons .owl-next {
  background-image: url(images/main-slider-next.png);
  background-position: 60% 50%;
}
/* Slideshow animation */

.slick--view--main-slider .slick-active .slide__caption img:first-child {
  position: relative;
  opacity: 0;
  animation: views-field-field-background-image_gwd-keyframes 0.5s linear 0s 1 normal forwards;
  -webkit-animation: views-field-field-background-image_gwd-keyframes 0.5s linear 0s 1 normal forwards;
  -moz-animation: views-field-field-background-image_gwd-keyframes 0.5s linear 0s 1 normal forwards
}
@keyframes views-field-field-background-image_gwd-keyframes {
  0% {
    opacity: 0;
    animation-timing-function: linear
  }
  100% {
    opacity: 1;
    animation-timing-function: linear
  }
}
@-webkit-keyframes views-field-field-background-image_gwd-keyframes {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: linear
  }
  100% {
    opacity: 1;
    -webkit-animation-timing-function: linear
  }
}
@-moz-keyframes views-field-field-background-image_gwd-keyframes {
  0% {
    opacity: 0;
    -moz-animation-timing-function: linear
  }
  100% {
    opacity: 1;
    -moz-animation-timing-function: linear;
  }
}
.slick--view--main-slider .slide--0.slick-active .slide__caption img:nth-child(n+2) {
  position: absolute;
  top: 150px;
  right: 0;
  opacity: 0;
  animation: views-filed-field-main-slider0 0.5s linear 0.5s 1 normal forwards;
  -webkit-animation: views-filed-field-main-slider0 0.5s linear 0.5s 1 normal forwards;
  -moz-animation: views-filed-field-main-slider0 0.5s linear 0.5s 1 normal forwards;
}
.slick--view--main-slider .slide--0.slick-active .slide__caption img:nth-child(3) {
  display: none;
}
@keyframes views-filed-field-main-slider0 {
  0% {
    left: 60%;
    opacity: 0;
    animation-timing-function: linear
  }
  100% {
    left: 52%;
    opacity: 1;
    animation-timing-function: linear
  }
}
@-webkit-keyframes views-filed-field-main-slider0 {
  0% {
    left: 60%;
    opacity: 0;
    animation-timing-function: linear
  }
  100% {
    left: 52%;
    opacity: 1;
    animation-timing-function: linear
  }
}
@-moz-keyframes views-filed-field-main-slider0 {
  0% {
    left: 60%;
    opacity: 0;
    animation-timing-function: linear
  }
  100% {
    left: 52%;
    opacity: 1;
    animation-timing-function: linear
  }
}
.slick--view--main-slider .slide--0.slick-active .slide__caption a {
  position: absolute;
  top: 205px;
  padding-right: 61px;
  opacity: 0;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  padding: 10px 20px;
  background: #19c2c9;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 1.13px;
  animation: views-field-title0 1s linear 0.5s 1 normal forwards;
  -webkit-animation: views-field-title0 0.5s linear 1s 1 normal forwards;
  -moz-animation: views-field-title0 0.5s linear 1s 1 normal forwards
}
@keyframes views-field-title0 {
  0% {
    right: 60%;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    right: 52%;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-webkit-keyframes views-field-title0 {
  0% {
    right: 60%;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    right: 52%;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-moz-keyframes views-field-title0 {
  0% {
    right: 60%;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    right: 52%;
    opacity: 1;
    animation-timing-function: linear;
  }
}
.slick--view--main-slider .slide--0.slick-active .slide__caption p {
  position: absolute;
  top: 312px;
  opacity: 0;
  width: 420px;
  right: 52%;
  margin-right: 50px;
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  float: right;
  color: #fff;
  animation: views-field-body0 0.5s linear 1.5s 1 normal forwards;
  -webkit-animation: views-field-body0 0.5s linear 1.5s 1 normal forwards;
  -moz-animation: views-field-body0 0.5s linear 1.5s 1 normal forwards;
}
@keyframes views-field-body0 {
  0% {
    top: 392px;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    top: 312px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-webkit-keyframes views-field-body0 {
  0% {
    top: 392px;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    top: 312px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-moz-keyframes views-field-body0 {
  0% {
    top: 392px;
    opacity: 180;
    animation-timing-function: linear;
  }
  100% {
    top: 312px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
.slick--view--main-slider .slide--1.slick-active .slide__caption img:nth-child(2) {
  position: absolute;
  top: 30%;
  opacity: 0;
  animation: views-filed-field-main-slider1 0.5s linear 0.5s 1 normal forwards;
  -webkit-animation: views-filed-field-main-slider1 0.5s linear 0.5s 1 normal forwards;
  -moz-animation: views-filed-field-main-slider1 0.5s linear 0.5s 1 normal forwards;
}
@keyframes views-filed-field-main-slider1 {
  0% {
    right: 60%;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    right: 52%;
    animation-timing-function: linear;
  }
}
@-webkit-keyframes views-filed-field-main-slider1 {
  0% {
    right: 60%;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    right: 52%;
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes views-filed-field-main-slider1 {
  0% {
    right: 60%;
    opacity: 0;
    -moz-animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    right: 52%;
    -moz-animation-timing-function: linear;
  }
}
.slick--view--main-slider .slide--1.slick-active .slide__caption a {
  position: absolute;
  top: 205px;
  opacity: 0;
  text-transform: uppercase;
  color: #19c2c9;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 1.13px;
  line-height: 65px;
  animation: views-field-title1 0.5s linear 1s 1 normal forwards;
  -webkit-animation: views-field-title1 0.5s linear 1s 1 normal forwards;
  -moz-animation: views-field-title1 0.5s linear 1s 1 normal forwards;
}
@keyframes views-field-title1 {
  0% {
    left: 60%;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    left: 52%;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-webkit-keyframes views-field-title1 {
  0% {
    left: 60%;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    left: 52%;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-moz-keyframes views-field-title1 {
  0% {
    left: 60%;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    left: 52%;
    opacity: 1;
    animation-timing-function: linear;
  }
}
.slick--view--main-slider .slide--1.slick-active .slide__caption .title-ul {
  position: absolute;
  left: 52%;
  top: 268px;
  color: #333;
  font-size: 28px;
  font-family: 'Hind', sans-serif;
  text-transform: uppercase;
  line-height: 65px;
  opacity: 0;
  animation: views-field-title-ul1 0.5s linear 1.5s 1 normal forwards;
  -webkit-animation: views-field-title-ul1 0.5s linear 1.5s 1 normal forwards;
  -moz-animation: views-field-title-ul1 0.5s linear 1.5s 1 normal forwards;
}
@keyframes views-field-title-ul1 {
  0% {
    top: 348px;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    top: 268px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-webkit-keyframes views-field-title-ul1 {
  0% {
    top: 348px;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    top: 268px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-moz-keyframes views-field-title-ul1 {
  0% {
    top: 348px;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    top: 268px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
.slick--view--main-slider .slide--1.slick-active .slide__caption ul {
  position: absolute;
  top: 333px;
  left: 52%;
  font-size: 16px;
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  opacity: 0;
  line-height: 30px;
  animation: views-field-body1 0.5s linear 1.7s 1 normal forwards;
  -webkit-animation: views-field-body1 0.5s linear 1.7s 1 normal forwards;
  -moz-animation: views-field-body1 0.5s linear 1.7s 1 normal forwards;
}
.slick--view--main-slider .slide--1.slick-active .slide__caption ul li {
  background: url('../images/check.png') 0 50% no-repeat;
  list-style: none;
  padding: 0 28px;
  margin: 0;
  color: #74797b;
  font-weight: 600;
}
@keyframes views-field-body1 {
  0% {
    top: 388px;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    top: 333px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-webkit-keyframes views-field-body1 {
  0% {
    top: 388px;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    top: 333px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-moz-keyframes views-field-body1 {
  0% {
    top: 388px;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    top: 333px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
.slick--view--main-slider .slide--2.slick-active .slide__caption a {
  display: none;
}
.slick--view--main-slider .slide--2.slick-active .slide__caption .title-item-2 {
  position: absolute;
  top: 185px;
  opacity: 0;
  width: 100%;
  animation: views-field-title2 0.5s linear 0.5s 1 normal forwards;
  -webkit-animation: views-field-title2 0.5s linear 0.5s 1 normal forwards;
  -moz-animation: views-field-title2 0.5s linear 0.5s 1 normal forwards;
}
.slick--view--main-slider .slide--2.slick-active .slide__caption .title-item-2 p {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 56px;
  font-weight: bold;
  letter-spacing: 1.13px;
  text-align: center;
  line-height: 60px;
  max-width: 600px;
  margin: 0 auto;
}
.slick--view--main-slider .slide--2.slick-active .slide__caption .title-item-2 p:after {
  content: '';
  background: url('../images/line.png') 50% no-repeat;
  height: 50px;
  position: relative;
  top: 10px;
  display: block;
}
@keyframes views-field-title2 {
  0% {
    top: 100px;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    top: 165px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-webkit-keyframes views-field-title2 {
  0% {
    top: 100px;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    top: 165px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-moz-keyframes views-field-title2 {
  0% {
    top: 100px;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    top: 165px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
.slick--view--main-slider .slide--2.slick-active .slide__caption .text-item-2 {
  top: 380px;
  position: absolute;
  opacity: 0;
  width: 100%;
  animation: views-field-body2 0.5s linear 1s 1 normal forwards;
  -webkit-animation: views-field-body2 0.5s linear 1s 1 normal forwards;
  -moz-animation: views-field-body2 0.5s linear 1s 1 normal forwards;
}
.slick--view--main-slider .slide--2.slick-active .slide__caption .text-item-2 p {
  width: 690px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  height: 130px;
  overflow: hidden;
  text-align: justify;
  -webkit-column-width: 230px;
  -moz-column-width: 200px;
  column-width: 200px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
@keyframes views-field-body2 {
  0% {
    top: 470px;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    top: 360px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-webkit-keyframes views-field-body2 {
  0% {
    top: 470px;
    opacity: 0;
    animation-timing-function: linear;
  }
  100% {
    top: 360px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
@-moz-keyframes views-field-body2 {
  0% {
    top: 470px;
    opacity: 180;
    animation-timing-function: linear;
  }
  100% {
    top: 360px;
    opacity: 1;
    animation-timing-function: linear;
  }
}
/* =Main slider END */
/* =Block Testimonials BEGIN */

#block-views-block-testimonials-block-1 {
  background: url('../images/testimonials/bg_testimonials.jpg');
  padding-bottom: 90px;
  padding-top: 1px;
  margin-top: 60px;
}
#block-views-block-testimonials-block-1 h2 {
  margin-bottom: 50px;
  margin-top: 70px;
}
.slick--view--testimonials {
  width: 900px;
  margin: 0 auto;
}
.slick--view--testimonials .slick-slider {
  width: 700px;
  margin: 0 auto;
}
.slick--view--testimonials .slick-slider {
  height: auto;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  padding: 60px;
}
.slick--view--testimonials {
  position: relative;
}
.slick--view--testimonials .slick__arrow {
  position: absolute;
  top: 50%;
  width: 100%;
}
.slick--view--testimonials .slick__arrow button {
  background: none;
  border: none;
}
.slick--view--testimonials .slick-arrow::before {
  content: '';
  background: url('../images/testimonials/arrows.png') no-repeat 50%;
  width: 26px;
  display: block;
  height: 41px;
  opacity: 1;
}
.slick--view--testimonials .slick-arrow.slick-prev {
  transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -webkit-transform: translateY(-50%) rotate(180deg);

}
.slick--view--testimonials .slick-arrow.slick-next {
  float: right;
}
.slick--view--testimonials .slick-arrow:hover::before {
  background: url('../images/testimonials/arrows_hover.png') no-repeat;
  opacity: 1;
}
.slick--view--testimonials .slide__caption img {
  margin: 0 auto;
  width: 86px;
  height: 86px;
}
.slick--view--testimonials .slide__caption p {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  line-height: 30px;
}
.slick--view--testimonials .slide__caption a {
  text-transform: uppercase;
  font-family: 'Hind', sans-serif;
  font-size: 15px;
  color: #3a3a3a;
  letter-spacing: 1.13px;
  line-height: 40px;
  margin-top: 20px;
  display: block;
  font-weight: bold;
}
.slick-track .slick-current {
  opacity: 0;
  animation: testimonials 1s linear 0s 1 normal forwards;
}
@keyframes testimonials {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes views-field-body2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes views-field-body2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* =Block Testimonials END */
/* =Block Clients BEGIN */

.block-views-blockclients-block-1 {
  background: #19c2c9;
  width: 100%;
}
#block-views-block-clients-block-1-2 {
  float: left;
}
.block-views-blockclients-block-1 .slick--view--clients {
  width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 65px;
}
.block-views-blockclients-block-1 .slick-list {
  width: 100%;
  margin: 0 auto;
}
.block-views-blockclients-block-1 .slick-dots li button:before {
  color: white;
  opacity: 0.75;
}
.block-views-blockclients-block-1 .slick-dots li.slick-active button:before {
  opacity: 1;
}
.block-views-blockclients-block-1 .slick-dots {
  bottom: -40px;
}
.block-views-blockclients-block-1 .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.block-views-blockclients-block-1 img {
  margin: 0 auto;
  display: block;
}
/* =Block Clients END */
/* =Block From the blog BEGIN*/

.block-views-blockblog-block-1 .views-field-body p {
  line-height: normal;
  font-size: 14px;
  color: #333;
}
.block-views-blockblog-block-1 .content {
  max-width: 1200px;
  margin: 0 auto;
}
.block-views-blockblog-block-1 {
  padding-top: 1px;
  padding-bottom: 60px;
  background: #f8f8f8;
}
.block-views-blockblog-block-1 .views-row {
  display: flex;
}
.block-views-blockblog-block-1 .views-col {
  background: url('../images/bg-post.png');
  border: 15px solid #f8f8f8;
  padding: 35px 20px;
}
.block-views-blockblog-block-1 .views-col img {
  display: block;
}
.block-views-blockblog-block-1 .views-col .views-field-field-blog-image-fuul .field-content {
  overflow: hidden;
  position: relative;
}
.block-views-blockblog-block-1 .views-field-view-node {
  margin: 30px 0 15px 0;
}
.block-views-blockblog-block-1 .views-field-view-node a {
  text-align: center;
  color: #fff;
  font-family: 'Hind', sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.13px;
  text-transform: uppercase;
  background: #19c2c9;
  padding: 10px 30px;
}
/* =Block From the blog END*/
/* =Blog page BEGIN */

#content .view-blog .item-list .pager {
  margin: 40px 0 0 30px;
}
.view-blog li {
  background-color: #fff;
}
.view-blog li:hover .views-field-field-blog-image img,
.block-views-blockblog-block-1 .views-col:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.view-blog li:hover .views-field-field-blog-image {
  height: 83.333%;
}
.view-blog li .views-field-field-blog-image {
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 35px;
}
.view-blog li .views-field-field-blog-image a:after,
.block-views-blockblog-block-1 .views-field-field-blog-image-fuul a:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: rgba(0, 0, 0, 0.4);
}
.view-blog li:hover .views-field-field-blog-image a:after,
.block-views-blockblog-block-1 .views-col:hover .views-field-field-blog-image-fuul a:after {
  opacity: 1;
}
.view-blog li .views-field-field-blog-image img,
.block-views-blockblog-block-1 .views-col img {
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#content .view-blog .item-list ul li {
  display: inline-block;
  margin: 15px 40px 0 15px;
  vertical-align: top;
  list-style: none;
}
.block-views-blockblog-block-1 .views-field-title {
  display: block;
  font-size: 20px;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 10px;
}
.block-views-blockblog-block-1 .views-field-title a {
  line-height: normal;
}
.view-blog .views-field-field-blog-image {
  width: 100%;
  height: auto;
}
.view-blog .views-field-field-blog-image .field-content {
  overflow: hidden;
}
.view-blog .views-field-field-blog-image img {
  display: block;
}
.view-blog .views-field-created {
  margin-left: 30px;
}
.view-blog .item-list,
.view-blog .pager {
  max-width: 1200px;
  margin: 40px auto 0;
}
.view-blog > nav {
  display: flex;
  justify-content: center;
}
#content .view-blog {
  background: #f9f9f9;
  padding: 65px 0 90px 0;
}
#content .view-blog ul {
  margin: 0;
}
#content .view-blog .views-field-title,
#content .view-blog .views-field-title a {
  font-size: 22px;
  font-family: 'Hind', sans-serif;
  color: #000;
  line-height: 25px;
  text-transform: none;
}
#content .view-blog .views-field-title:hover a {
  color: #19c2c9;
}
#content .view-blog .views-field-title {
  margin: 10px 30px;
}
.view-blog .views-field-body p {
  margin: 0 30px;
}
#content .view-blog .views-field-view-node {
  padding-bottom: 10px;
  display: block;
  margin: 0 30px;
}
#content .view-blog .views-field-view-node a:hover:after {
  content: "\f105";
  font-family: 'FontAwesome';
  display: inline-block;
  padding-left: 10px;
  font-size: 18px;
  line-height: 15px;
}
#content .view-blog .views-field-view-node span {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.13px;
  line-height: 50px;
}
#block-aboutus .content:before {
  content: '';
  width: 100%;
  height: 190px;
  display: block;
  background: url('../images/03_skills_pic.jpg') 50% no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
#block-aboutus h2,
#block-views-block-blog-block-2 h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #2d2d2d;
  letter-spacing: 1.2px;
  line-height: 40px;
}
.block-views-blockblog-block-2 ul {
  margin: 0;
}
.block-views-blockblog-block-2 li a {
  font-size: 18px;
  color: #74797b;
  display: block;
  line-height: normal;
  font-family: 'Hind', sans-serif;
  font-weight: 500;
}
#block-views-block-blog-block-2 img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}
.block-views-blockblog-block-2 li a:hover {
  color: #19c2c9;
}
.block-views-blockblog-block-2 li {
  list-style: none;
  margin-bottom: 20px;
}
.block-views-blockblog-block-2 .views-field-created {
  font-size: 14px;
  color: #19c2c9;
}
.addtoany_list.a2a_kit_size_32 {
  background: url('../images/Share.png') 0% 0% no-repeat;
}
.addtoany_list.a2a_kit_size_32:before {
  content: 'Share';
  display: block;
  margin-left: 20px;
  line-height: 14px;
}
.addtoany_list.a2a_kit_size_32:hover {
  background: url('../images/Share_hover.png') 0% 0% no-repeat;
}
.addtoany_list.a2a_kit_size_32:hover a {
  display: block;
}
.a2a_kit a {
  margin-bottom: 0;
}
.addtoany_list.a2a_kit_size_32 {
  width: 60px;
  min-width: 0;
  border: none;
  border-radius: 0;
  position: absolute;
  margin-top: 3px;
  margin-left: 10px;
  height: 20px;
}
.addtoany_list.a2a_kit_size_32 a:first-child:before {
  content: url('../images/menu_underline/line.png');
  height: 25px;
  display: block;
}
.addtoany_list.a2a_kit_size_32 a {
  border-bottom: 1px solid #eee;
  width: 60px;
  padding: 0;
  display: none;
  background: #fff;
}
.addtoany_list.a2a_kit_size_32 a:after:hover {
  color: #19c2c9;
}
.addtoany_list.a2a_kit_size_32 span.a2a_svg {
  background: none;
  width: 60px;
  margin: 0;
  border-radius: 0;
  opacity: 1;
  height: 32px;
}
span.a2a_svg:before {
  width: 60px;
  font-size: 15px;
  font-family: 'FontAwesome';
  display: block;
  text-align: center;
  color: #a9a9a9;
  background: #fff;
  height: 32px;
}
.addtoany_list.a2a_kit_size_32 a:hover span.a2a_svg:before {
  color: white;
}
span.a2a_s_facebook:before {
  content: '\f09a';
}
a:hover span.a2a_s_facebook:before {
  background: #3b5999;
}
span.a2a_s_twitter:before {
  content: '\f099';
}
a:hover span.a2a_s_twitter:before {
  background: #55acee;
}
span.a2a_s_linkedin:before {
  content: '\f0e1';
}
a:hover span.a2a_s_linkedin:before {
  background: #0087be;
}
span.a2a_s_pinterest:before {
  content: '\f231';
}
a:hover span.a2a_s_pinterest:before {
  background: #c51721;
}
.column.sidebar {
  min-width: 23%;
}
#sidebar-second {
  margin-left: 50px;
  display: inline-block;
  vertical-align: top;
}
sidebar-first {
  margin-right: 50px;
  display: inline-block;
  vertical-align: top;
}
.column.sidebar .block {
  margin-bottom: 60px;
}
.node-type-blog .field--name-body {
  clear: both;
}
.node-type-blog .field--name-field-blog-image-fuul img {
  width: 100%;
}
.node--type-team {
  background: #f9f9f9;
  margin: 40px 0;
  padding: 15px 40px 5px;
  min-height: 160px;
}
.node--type-team .field--name-field-photo-team img,
.comment .field--name-user-picture img {
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 30px;
}
.node--type-team .field--name-field-photo-team {
  position: absolute;
}
.node--type-team .field:not(.field--name-field-photo-team),
.node--type-team h2 {
  padding-left: 150px;
}
.node--type-team h2,
.node--type-team h2 a,
.comment .author-datetime a,
.comment__author a {
  font-family: 'Hind', sans-serif;
  font-size: 18px;
  text-transform: none;
  line-height: 25px;
  margin-bottom: 5px;
}
.comment__author {
  margin: 0;
}
.node--type-team .field--name-field-photo-team img,
.comment .field--name-user-picture img {
  border-radius: 50%;
}
.node--type-team .social-team a {
  color: #a9a9a9;
  padding-right: 20px;
  font-size: 18px;
}
.node--type-team .social-team {
  margin: 15px 0;
}

.node__content .comment,
.indented {
  padding: 40px 0;
  border-top: 1px solid #e1e1e1;
  clear: both;
}
.indented >.comment {
  border: none;
}
.comment .author-datetime:after,
.comment .author-datetime:before {
  content: '';
}
.comment .author-datetime a,
.comment__author a {
  display: block;
  color: #333;
}
.comment .comment__content {
  padding-left: 120px;
  padding-top: 10px;
}
.comment {
  position: relative;
}
.comment .comment__content nav {
  position: absolute;
  top: 40px;
  right: 0;
}
.comment .comment__content .links li {
  display: inline-block;
  margin-left: 20px;
}
.comment .comment__content .links li a {
  color: #74797b;
}
.comment .author-datetime,
.comment__time {
  color: #19c2c9;
  padding-left: 30px;
  font-size: 13px;
}
.indented {
  padding: 0 0 0 80px;
  margin-left: 0;
}
.comment-form .form-item-name,
.comment-form .form-item-mail {
  width: 48%;
}
.comment-form .form-item-name input,
.comment-form .form-item-mail input {
  width: 100%;
}
.comment-form .form-item-name {
  float: left;
}
.comment-form .form-item-mail {
  float: right;
}
.comment-form .form-actions input {
  margin: 20px 0 0;
  display: block;
  float: right;
  width: 150px;
}
/* =Blog page END */
/* Portfolio page BEGIN */

#content .view-portfolio .item-list ul {
  display: flex;
  flex-wrap: wrap;
}
#content .view-portfolio .item-list li {
  width: 33%;
  max-width: none;
  margin: 0;
  list-style: none;
  display: inline-block;
}
#content .two-columns .view-portfolio .item-list li {
  float: left;
  width: 44%;
  margin: 3%;
}
#content .two-columns .view-portfolio .item-list ul {
  max-width: 1200px;
  margin: 0 auto;
}
#content .item-list .pager.pager-load-more li {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: flex;
  max-width: none;
}
#content .item-list ul.pager-load-more {
  margin: 0 auto;
}
#content .item-list .pager-load-more li a {
  width: auto;
  height: auto;
  margin: 50px auto 0;
  padding: 5px 30px 0;
  border: none;
  text-transform: uppercase;
  background: #333;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.13px;
}
#content .item-list .pager-load-more li a:hover {
  background: #19c2c9;
}
.node--type-portfolio .slick-dots {
  display: none !important;
}
.node--type-portfolio .slick {
  width: 55%;
  float: right;
  position: relative;
  margin-left: 5%;
}
.node--type-portfolio .slick-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: auto;
}
.node--type-portfolio .slick-prev,
.node--type-portfolio .slick-next {
  line-height: 0;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  outline: none;
  background: transparent;
}
.node--type-portfolio .js .slick__arrow {
  visibility: visible;
  bottom: auto;
  height: 2px;
  left: 0;
  margin-top: -1px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 2;
}
.node--type-portfolio .slick-next::before {
  background-image: url(images/main-slider-next.png);
  background-position: 60% 50%;
}
.node--type-portfolio .slick-prev::before {
  background-image: url(images/main-slider-prev.png);
  background-position: 40% 50%;
  transform: none;
  -o-transform: none;
  -ms-transform: none;
  -moz-transform: none;
  -webkit-transform: none;
}
.node--type-portfolio .slick-arrow:before {
  content: '';
}
.node--type-portfolio .slick-arrow:before {
  top: 60%;
  z-index: 50;
  margin: 0;
  display: block;
  width: 50px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.85);
  background-repeat: no-repeat;
  border-radius: 0;
  transform: none;
  -o-transform: none;
  -ms-transform: none;
  -moz-transform: none;
  -webkit-transform: none;
}
.node--type-portfolio .slick-arrow {
  border: 0;
  border-radius: 50%;
  font-size: 0;
  height: 42px;
  pointer-events: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 42px;
}
.node--type-portfolio .slick-prev {
  left: 0;
}
.node--type-portfolio .slick-next {
  right: 8px;
}
.node--type-portfolio .quickedit-field {
  width: 40%;
}
.node--type-portfolio .slick-dots {
  text-align: center;
}
.node--type-portfolio .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.node--type-portfolio .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.node--type-portfolio .slick-dots li button:before {
  font-family: 'slick';
  font-size: 50px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.node--type-portfolio .slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}
.field-name-field-portfolio-image .owl-pagination {
  display: none;
}
.field-name-field-brand-name {
  font-size: 32px;
  font-weight: bold;
}
.node-type-portfolio .node__content .field--name-body {
  padding: 20px 50px 20px 0;
}
.node-type-portfolio .field--name-field-date,
.node-type-portfolio .field--name-field-time-work,
.node-type-portfolio .field--name-field-tags-portfolio .field__item {
  font-size: 15px;
  height: 23px;
  margin-bottom: 15px;
  padding-left: 30px;
  color: #555;
}
.node-type-portfolio .field--name-field-tags-portfolio a {
  color: #555;
}
.node-type-portfolio .field--name-field-date {
  margin-top: 10px;
  background: url('../images/portfolio_ico/date.png') no-repeat;
}
.field--name-field-time-work {
  background: url('../images/portfolio_ico/time.png') no-repeat;
}
.field--name-field-tags-portfolio .field__item {
  background: url('../images/portfolio_ico/options.png') no-repeat;
}
#content .node--type-portfolio .flippy {
  clear: both;
  padding-top: 45px;
}
#content .flippy .flippy-previous:before {
  content: '';
  display: inline-block;
  height: 24px;
  background: url('../images/nav_default.png') 0 100% no-repeat;
  padding-left: 20px;
}
#content .flippy .flippy-previous:hover:before {
  background: url('../images/nav_active.png') 100% 0 no-repeat;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#content .flippy .flippy-next:after {
  content: '';
  height: 24px;
  display: inline-block;
  background: url('../images/nav_default.png') 0 0 no-repeat;
  padding-left: 20px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#content .flippy .flippy-next:hover:after {
  background: url('../images/nav_active.png') 100% 100% no-repeat;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.node--type-portfolio .flippy li a {
  font-size: 15px;
  color: #a1a1a1;
  letter-spacing: 1.13px;
  line-height: 25px;
  font-weight: bold;
  text-transform: uppercase;
}
.node--type-portfolio .flippy li a:hover {
  color: #19c2c9;
}
.node--type-portfolio .flippy li.flippy-next {
  float: right;
}
#content {
  position: relative;
}
.back-to {
  position: absolute;
  width: 100%;
  max-width: 1200px;
}
.back-to a {
  position: relative;
  top: -62px;
  width: 300px;
  margin: 0 auto;
  display: block;
}
.back-to a input {
  width: 100%;
}
/* Portfolio page END */

/* =Colors BEGIN*/
.colors p {
  margin: 20px 0 0 0;
}
.colors div {
  height: 30px;
  width: 100%;
  line-height: 30px;
  position: relative;
}
.colors div:before {
  margin-left: 20px;
  color: #fff;
}
.color-1 {
  background: #99ffcc;
  background: linear-gradient(to right, #19c2c9, #99ffcc);
}
.color-1:before {
  content: "#19C2C9";
}
.color-1:after {
  content: "#99FFCC";
  position: absolute;
  right: 20px;
}
.color-2 {
  background: #19c2c9;
}
.color-2:before {
  content: "#19C2C9";
}
.color-3 {
  background: #74797b;
}
.color-3:before {
  content: "#74797B";
}
.color-4 {
  background: #333;
}
.color-4:before {
  content: "#333333";
}
/* =Colors END*/

/* Contact us BEGIN */
#colorized-gmap- {
  width: 100%;
  height: 850px;
}
.contact-us {
  max-width: 1200px;
  margin: 65px auto 90px;
}
.contact-us h3 {
  background: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.contact-us div {
  display: inline-block;
  text-align: center;
  width: 33%;
  margin-top: 35px;
}
.phone.icon:before {
  content: url('../images/PHONE.png');
  display: block;
}
.address.icon:before {
  content: url('../images/MAP.png');
  display: block;
  margin-left: 3px;
}
.mail.icon:before {
  content: url('../images/E-MAIL.png');
  display: block;
}
.mail a {
  color: #74797b;
}
#block-colorized-gmap,
.contact-form,
#block-contactus {
  float: left;
  width: 50%;
  background: #f9f9f9;
}
.contact-form,
#block-contactus {
  padding-right: 20px;
}
#block-contactus {
  padding-left: 100px;
  padding-top: 70px;
  float: right;
}
.contact-form {
  padding-left: 100px;
  padding-bottom: 75px;
  float: right;
  height: 620px;
}
.form-item {
  font-size: 15px;
  text-decoration: none;
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  color: #74797b;
  line-height: 25px;
  margin-bottom: 20px;
}
#block-contactus h2 {
  border-bottom: 2px solid #19c2c9;
  width: 240px;
  font-size: 30px;
  letter-spacing: normal;
  text-align: left;
  float: left;
  line-height: 60px;
  text-transform: uppercase;
  display: block;
}
.contact-form input:not([type="submit"]),
.contact-form textarea {
  max-width: 432px;
  width: 100%;
  max-height: 155px;
}
#block-contactus .field--name-body {
  float: left;
  margin-top: 5px;
  width: 100%;
  max-width: 432px;
  clear: both;
  margin-bottom: 30px;
}
.form-actions {
  margin: 20px 0;
}
/* Contact us END */

/* Ajax load */
.ajax-progress {
}
.ajax-progress-fullscreen {
  background-image: none;
  background-color: transparent;
}
#load {
  width: 30px;
  height: 30px;
  animation: loading 3s linear infinite;
  max-height: 50px;
  position: absolute;
  bottom: 0;
}
#loading-inner {
  animation: loading-circle 2s linear infinite;
  stroke: #19c2c9;
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  fill: transparent;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -600;
  }
}
